<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A147</title>
</head>
<body>

<form id="form" th:action="@{/signup/register}" th:object="${form}" method="post">

    <input type="text" th:field="*{nombre}" placeholder="Nombre">
    <div th:errors="*{nombre}"></div>

    <input type="email" th:field="*{email}" placeholder="Email">
    <div th:errors="*{email}"></div>

    <input type="password" th:field="*{password}" placeholder="Contraseña">
    <div th:errors="*{password}"></div>

    <label>
        <input type="checkbox" th:field="*{empresa}" id="empresaToggle">
        ¿Eres una empresa?
    </label>

    <section id="form-empresa">
        <input type="text" th:field="*{empresaDTO.ruc}" placeholder="RUC">
        <div th:errors="*{empresaDTO.ruc}"></div>
    </section>

    <button type="submit">Registrarse</button>
</form>

<a th:href="@{/login}">Iniciar Sesión</a>

</body>
</html>