@import url('/css/base.css');

body {
    height: 100vh;

    display: flex;
    flex-direction: row;
}

a {
    color: var(--palette-600);
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

/*>>>> SIDEBAR*/
#sidebar {
    width: 38%;
    background-color: var(--palette-950);
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
}

.logo i {
    font-size: 20px;
}

/*>>>> MAIN*/
#main {
    flex: 1;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 6px;
    text-align: center;
}

#form-subtitle {
    font-size: 0.82rem;
    color: var(--mid-light);
    margin-bottom: 24px;
    text-align: center;
    line-height: 1.4;
}

#form-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

/*FIELDS*/
.form-field:not(.chk) {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 14px;
    background: var(--white);
    gap: 10px;
    border: 1.5px solid var(--palette-500);
    transition: border-color 0.2s, box-shadow 0.2s;

    & :focus-within {
        border-color: var(--palette-700);
        box-shadow: 0 0 0 3px rgba(30, 151, 255, .12);
    }
}

.form-field.chk {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-top: 4px;
    font-size: 0.8rem;
    color: var(--gray);
}

/*ICONS*/
.form-field i {
    color: var(--palette-600);
    font-size: 16px;
    flex-shrink: 0;
}

/*INPUTS*/
.form-field:not(.chk) input {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    flex: 1;
    padding: 13px 0;
    font-size: 0.85rem;
    color: var(--dark);

    &::placeholder {
        color: var(--mid-light);
    }
}

.form-field.chk input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: var(--palette-700);
    cursor: pointer;
}

/*ERRORS*/
.field-errors {
    font-size: 0.75rem;
    color: var(--alert);
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

/*FOOTER*/
.footer {
    font-size: 0.8rem;
    color: var(--mid-light);
    margin-bottom: 12px;
}