<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="form" th:action="@{/login}" method="post">

    <input type="text" name="identifier" placeholder="Username o Email" required>

    <input type="password" name="password" placeholder="Contraseña" required>

    <button type="submit">Iniciar Sesión</button>

    <p th:if="${param.error}">Usuario o contraseña incorrectos</p>
    <p th:if="${param.logout}">Sesión cerrada correctamente</p>
</form>

<a th:href="@{/signup}">Registrese Aqui</a>

</body>
</html>