<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{business/base}">
<head>
</head>
<body>

<div layout:fragment="content">
    <input id="browse" type="text" placeholder="Search" autofocus/>
    <a th:href="@{/business/clients/form/create?isEmpresa={isEmp}(isEmp=false)}">Nuevo Cliente</a>
    <a th:href="@{/business/clients/form/create?isEmpresa={isEmp}(isEmp=true)}">Nueva Empresa</a>

    <table>
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="content">
        </tbody>
    </table>
</div>

<th:block id="NEVERMOREE" layout:fragment="scripts">
    <script type="module" th:src="@{/js/business/clients/clients.js}"></script>
</th:block>

</body>
</html>