<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{business/base}">
<head>
    <meta charset="UTF-8">
    <title>A147 Business</title>
</head>
<body>

<div layout:fragment="content">
    <form th:action="@{/business/clients/update}" th:object="${form}" method="post">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{empresa}" />

        <input type="text" th:field="*{nombre}" placeholder="Nombre">
        <div th:errors="*{nombre}"></div>

        <section id="form-empresa" th:if="*{empresa}">
            <input type="text" th:field="*{empresaForm.ruc}" placeholder="RUC">
            <div th:errors="*{empresaForm.ruc}"></div>
        </section>

        <button type="submit">Actualizar</button>
    </form>
</div>

</body>
</html>